*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Be Vietnam Pro', sans-serif;
}

.container{
    min-height: 100vh;
    background: #2151a1
}


.container .navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 6em
}

.container .navbar .navleft img{
    height: 100px;
    width: 100px
}

.container .navbar .navright nav ul{
    display: flex
}

.container .navbar .navright nav ul li{
    list-style-type: none;
    margin-right: 3em
}

.container .navbar .navright nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.938)
}

/* hero/main */

.container main{
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    padding: 0 2em;
    padding-left: 6em;
    padding-top: 5em;
}

.container main div:nth-child(1) h1, .container main div:nth-child(1) p{
    color: #FFF;
}

.container main div:nth-child(1) h1{
    text-transform: uppercase;
    font-size: 3rem;
}

.container main div:nth-child(1) h1 span{
    font-size: 6rem
}

.container main div:nth-child(1) p{
    width: 67%
}

.container main div:nth-child(1) button{
    border: none;
    outline: none;
    color: #000;
    padding: 1em;
    border-radius: 30px;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 1em;
    cursor: pointer;
}

.container main div:nth-child(2){
    padding: 0;
    margin-top: -2em;
}

.container main div:nth-child(2) img{
    width: 240px;
    height: 400px;
}

.container main div:nth-child(3){
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center
}

.container main div:nth-child(3) img{
    height: 20px;
    width: 20px;
    margin-bottom: 3em;
    cursor: pointer;
}

/* footer */

.container footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    margin-top: 1.5em
}

.container footer img{
    height: 90px;
    width: 50px;
    margin-left: 1em;
    margin-right: 1em
}

/* display: none */
.mobilenav{
    display: none
}

.mobileicon{
    display: none
}

@media (max-width:1000px){

    .container .navbar{
        padding: 1em 2em
    }

    .container .navbar .navright nav ul li{
        list-style-type: none;
        margin-right: 1.5em
    }

    .container main{
        grid-template-columns: 1fr;
        padding: 0 1em;
        padding-top: 1em;
    }

    .container main div{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .container main div:nth-child(1) h1{
        font-size: 3rem;
        text-align: center
    }
    
    .container main div:nth-child(1) h1 span{
        font-size: 5rem;
        text-align: center
    }
    
    .container main div:nth-child(1) p{
        width: 90%;
        text-align: center;
        line-height: 1.2em;
        font-size: 1.1rem;
        margin-top: 0.5em
    }

    .container main div:nth-child(1) button{
        padding: 1.2em 1.5em;
    }

    .container main div:nth-child(2){
        padding: 0;
        margin-top: 2em;
        margin-bottom: 1em
    }

    .container main div:nth-child(3){
        display: none
    }

    .container footer{
        margin-top: 2em
    }
    
}



@media (max-width:500px){

    /* mobile navbar */
    .container .mobilenav{
        background: #fff;
        position: absolute;
        top: 0;
        height: 0vh;
        opacity: 0;
        width: 100%;
        position: fixed;
        padding: 2em;
        transition: 0.5s ease-in;
        overflow: hidden;
    }

    .container .mobilenav #icon{
        display: flex;
        justify-content: flex-end
    }

    .container .mobilenav #icon img{
        height: 30px;
        width: 30px;
    }

    .container .mobilenav nav{
        margin-top: 1em
    }

    .container .mobilenav nav ul{
        padding: 1.5em 0;
        padding-bottom: 0.5em;
    }

    .container .mobilenav nav ul li{
        list-style-type: none;
        text-align: center;
        margin-bottom: 2em;
    }

    .container .mobilenav nav ul li a{
        color: black;
        text-decoration: none;
        font-size: 2rem;
        color: #2151a1;
        font-weight: bold
    }

    .container .mobilenav .bottom{
        position: absolute;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%
    }

    .container .navbar{
        padding: 1em
    }
    
    .container .navbar .navright,#close{
        display: none
    }

    .mobilenav, .mobileicon{
        display: block;
    }


    .hamburger{
        height: 30px;
        width: 30px;
        content: url('./image/icon-hamburger.svg')
    }

    .closeicon {
        content: url('./image/icon-navclose.svg')
    }

    .container main{
        grid-template-columns: 1fr;
        padding: 0 1em;
        padding-top: 1em;
    }

    .container main div{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    /* .container main div:nth-child(1){
        grid-row: 2
    } */

    .container main div:nth-child(1) h1{
        font-size: 3rem;
        text-align: center
    }
    
    .container main div:nth-child(1) h1 span{
        font-size: 5rem;
        text-align: center
    }
    
    .container main div:nth-child(1) p{
        width: 90%;
        text-align: center;
        line-height: 1.2em;
        font-size: 1.1rem;
        margin-top: 0.5em
    }

    .container main div:nth-child(1) button{
        padding: 1.2em 1.5em;
    }

    .container main div:nth-child(2){
        padding: 0;
        margin-top: 2em;
        margin-bottom: 1em
    }

    .container main div:nth-child(3){
        display: none
    }

    .container footer{
        margin-top: 1em
    }
    
}


